<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>添加类目</title>
<link rel="stylesheet" href="{$Think.PUBLIC_URL}/css/pintuer.css">
<link rel="stylesheet" href="{$Think.PUBLIC_URL}/css/admin.css">
<script src="{$Think.PUBLIC_URL}/js/jquery.js"></script>
<script src="{$Think.PUBLIC_URL}/js/pintuer.js"></script>
<script src="{$Think.PUBLIC_URL}/js/zepto.min.js"></script> 
</head>

<style>
    
</style>

<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加类目</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action=""  enctype="multipart/form-data" >  
 
      <div class="form-group">
        <div class="label">
          <label>类目名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{$result.leimu_name}" maxlength="20" name="leimu_name" data-validate="required:请输入类目名称" />
          <div class="tips"></div>
        </div>
      </div>
  
        
 
      
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
            <button class="button bg-main icon-check-square-o" type="submit" > 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body>

 
<script type="text/javascript">
  
</script>
</html>