<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>学院列表</title>
<link rel="stylesheet" href="{$Think.PUBLIC_URL}/css/pintuer.css">
<link rel="stylesheet" href="{$Think.PUBLIC_URL}/css/admin.css">
    <script src="{$Think.PUBLIC_URL}/js/jquery-3.0.0.min.js"></script>
<script src="{$Think.PUBLIC_URL}/js/pintuer.js"></script>

<style>
    
    .greenfont{color: green}
    .goods_num{color: #0080FF}
</style>
</head>
<body>
<form method="post" action="" id="listform">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder">列名列表</strong></div>
    <div class="padding border-bottom" style="display:none">
      <!--       搜索部分-->   
      <ul class="search" style="padding-left:10px;">
        <li class="greenfont">搜索：</li>
        <li>
           手机号： 
          <input id="tel" type="number" placeholder="请输入手机号" name="nickname" class="input" style="width:120px; line-height:17px;display:inline-block" />
          <a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearchTel()" > 搜索</a>
        </li>
        <li>
           名称： 
           <input id="name" type="text" placeholder="请输入" name="nickname" class="input" style="width:120px; line-height:17px;display:inline-block" />
          <a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearchName()" > 搜索</a>
        </li>

      </ul>
       <!--        筛选部分-->
      <ul class="search" style="padding-left:10px;margin-top: 10px">
        <li class="greenfont">筛选：</li>
        <li>禁启用状态筛选：
            <select id="state" name="state" class="input"  style="width:120px; line-height:17px; display:inline-block" onchange="stateOnchange()">
            <option value="">选择</option>
            <option value="0">被禁用</option>
            <option value="1">已启用</option>
          </select>
        </li>   
        <li class="greenfont">分类筛选：</li>
         <li>
            <select id="type" name="" class="input"  style="width:auto; line-height:17px; display:inline-block" onchange="oneLevelChange()">
            <option value="0">请选择</option>
            <option value="1">智能家居</option>
            <option value="2">装修主材</option>
            <option value="3">装修辅材</option>
            <option value="4">家具</option>
            <option value="5">家电</option>
          </select>
        </li> 
         <li>
            <select id="bus_type_id" name="bus_type_id" class="input"  style="width:auto;"  value="">
               <option value="0">请选择</option>
            </select>
        </li> 
        <a href="javascript:void(0)" class="button border-main icon-search" onclick="shaixuan()" > 筛选</a>
      </ul> 
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th style="text-align:left; padding-left:20px;">序号</th>
        <th>ID</th>
        <th>类目名称</th>
        <th>类目拥有缴费信息数量</th>
        <th>类目创建时间</th>
        <th>操作</th>
      </tr>
        <?php  for($i=0;$i<count($data);$i++){   ?>
        <tr>
          <td style="text-align:left; padding-left:20px;">{$i+1}</td>
          <td>{$data[$i]['leimu_id']}</td>
          <td>{$data[$i]['leimu_name']}</td>
          <td><a href="__MODULE__/Order/orderlist/leimu_id/{$data[$i]['leimu_id']}/leimu_name/{$data[$i]['leimu_name']}"  style="color:blue"  onclick="window.open(this.href,'_blank','scrollbars=1,resizable=0;height=900,width=800,top=190,left=350');return false" >{$data[$i]['order_count']}</a></td>
          <td>{$data[$i]['leimu_createtime']}</td>
 
                    <td><div class="button-group"> 
                     <if  condition="$data[$i]['order_count'] eq 0">       
                       <a class="button border-red" onclick="del({$data[$i]['leimu_id']})" ><span class="icon-trash-o"></span> 删除</a> 
                     </if>   
                       <a class="button border-main"  href="__CONTROLLER__/addleimu/leimu_id/{$data[$i]['leimu_id']}"  onclick="window.open(this.href,'_blank','scrollbars=1,resizable=0;height=900,width=800,top=190,left=350');return false" ><span class="icon-edit"></span>编辑</a>
              </div></td>
<!--          <td><div class="button-group"> <a class="button border-main" href="#" onclick="details({$data[$i]['company_id']})"><span class="icon-eye"></span> 详情</a> </div></td>-->
        </tr>
       <?php  }  ?> 
 
      <tr>
        <td colspan="8">
            <div class="pagelist">
                {$page}
            </div>
        </td>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">

 



//删除厂家
function del(leimu_id){
   	if(confirm("是否确定要删除该类目？")){
            var url="__CONTROLLER__/delLeimu/leimu_id/"+leimu_id;
            window.location.href=url;	   
	}    
}



</script>
</body>
</html>