<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>支付成功</title>
    <link rel="stylesheet" type="text/css" href="{$Think.HOME_URL}/css/aui.css"/>
    <style>
    	body{
    		
    	}
    	
      .tishi{
          font-size: 26px;color: black;margin-top: 150px;margin-bottom:40px
      }
    	
    	.footdiv{
    	   width: 80%;
    	   margin-left: 10%;
    	   margin-top: 20px
    	}
    	
 
    	
    	
    </style>
</head>
<body>
 
    <p class="tishi" align="center">恭喜，您已支付成功</p>
	
 <div class="footdiv">
 
    <div class="aui-btn aui-btn-info aui-btn-block"  onclick="location.href='__CONTROLLER__/main1'" >返回</div>
 
 
 </div>		
	
</form>		
</body>
<script type="text/javascript" src="{$Think.HOME_URL}/script/api.js"></script>
<script type="text/javascript">
	apiready = function(){
		
	};
</script>
</html>