<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>用户列表</title>
<link rel="stylesheet" href="{$Think.PUBLIC_URL}/css/pintuer.css">
<link rel="stylesheet" href="{$Think.PUBLIC_URL}/css/admin.css">
<script src="{$Think.PUBLIC_URL}/js/jquery-3.0.0.min.js"></script>
<script src="{$Think.PUBLIC_URL}/js/pintuer.js"></script>
<script src="{$Think.PUBLIC_URL}/js/zepto.min.js"></script>
<style>
    
    .greenfont{color: green}
    .goods_num{color: #0080FF}
</style>
</head>
<body>
<form method="post" action="" id="listform">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder">用户列表</strong></div>
    <div class="padding border-bottom">
      <!--       搜索部分-->   
      <ul class="search" style="padding-left:10px;">
        <li class="greenfont">搜索：</li>
        <li>
                  搜索关键字：
          <input id="searchval" type="text" placeholder="输入姓名、学号、联系电话" name="searchval" class="input" style="width:220px; line-height:17px;display:inline-block" />
          <a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearch()" > 搜索</a>
        </li>
      </ul>
       <!--        筛选部分-->
      <ul class="search" style="padding-left:10px;margin-top: 10px">
        <li class="greenfont">筛选：</li>
        <li>禁启用状态筛选：
            <select id="state" name="state" class="input"  style="width:120px; line-height:17px; display:inline-block" onchange="stateOnchange()">
            <option value="">选择</option>
            <option value="1">被禁用</option>
            <option value="0">已启用</option>
          </select>
        </li>   
 
        <a href="javascript:void(0)" class="button border-main icon-search" onclick="shaixuan()" > 筛选</a>
      </ul> 
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th style="text-align:left; padding-left:20px;">序号</th>
        <th>ID</th>
        <th>身份证号</th>
        <th>姓名</th>
        <th>所属单位</th>
        <th>联系电话</th>
        <th>注册时间</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
        <?php  for($i=0;$i<count($data);$i++){   ?>
        <tr onclick="xuanzhe({$data[$i]['user_id']},'{$data[$i].user_name}')">
          <td style="text-align:left; padding-left:20px;">{$i+1}</td>
          <td>{$data[$i]['user_id']}</td>
          <td>{$data[$i]['sfz_num']}</td>
          <td>{$data[$i]['user_name']}</td>
          <td>{$data[$i]['xueyuan_name']}</td>
          <td>{$data[$i]['phone']}</td>
          <td>{$data[$i]['user_createtime']}</td>
          <td>{$data[$i]['state']==1?'<font color="#FB1330">已禁用</font>':'<font color="#00CC99">已启用</font>'}</td>
              <if condition="!$isOrder">
                <td><div class="button-group"> 
       
                       <a class="button border-main"  href="__CONTROLLER__/addUser/user_id/{$data[$i]['user_id']}"  onclick="window.open(this.href,'_blank','scrollbars=1,resizable=0;height=900,width=800,top=190,left=350');return false" ><span class="icon-edit"></span>编辑</a>
                      <if condition="$data[$i]['state'] eq 0">
                      <a class="button border-red" href="__CONTROLLER__/userKG/user_id/{$data[$i]['user_id']}/state/1" ><span class="icon-user-md"></span>禁用</a>
                         <else />
                      <a class="button border-green" href="__CONTROLLER__/userKG/user_id/{$data[$i]['user_id']}/state/0" ><span class="icon-user-md"></span>启用</a>
                      </if>
                       <a class="button border-red" onclick="chongzhiPwd({$data[$i]['user_id']})" ><span class="icon-user-md"></span>重置密码</a>
                       <a class="button border-main" href="#" onclick="details({$data[$i]['user_id']})"><span class="icon-eye"></span> 详情</a>
              </div></td>
             </if>
        </tr>
       <?php  }  ?> 
 
      <tr>
<!--        <td style="text-align:left; padding:19px 0;padding-left:20px;"><input type="checkbox" id="checkall"/>
          全选 </td>-->
      <if condition="!$isOrder">
        <td colspan="7" style="text-align:left;padding-left:20px;">
<!--            <a href="__MODULE__/Excel/userUpExcel" class="button border-red icon-user-md" style="padding:5px 15px;" onclick="window.open(this.href,'_blank','scrollbars=1,resizable=0;height=900,width=800,top=190,left=350');return false"> 导入Excel数据</a>
             <a class="button border-main"  href="__MODULE__/Excel/exportUserExcel"  onclick="window.open(this.href,'_blank','scrollbars=1,resizable=0;height=900,width=800,top=190,left=350');return false" >导出</a>-->
       </td>
      </if> 
      </tr>       
       
       
       
      <tr>
        <td colspan="8">
            <div class="pagelist">
                {$page}
            </div>
        </td>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">

 //进行搜索
function changesearch(){
    
    var searval=$('#searchval').val();
    if(searval==''){
        alert('请输入需要搜索的关键字');
        return;
    }
    window.location.href='__CONTROLLER__/userList/searchval/'+searval;
} 
 
 
 //筛选
 function shaixuan(){
    var state=$('#state').val();
    if(state==''){
        alert('请选择需要筛选的内容');
        return;
    }     
    window.location.href='__CONTROLLER__/userList/state/'+state; 
 }
 
 
 
 
               //被添加缴费记录页面调用，并点击了选择
               function xuanzhe(user_id,user_name){
                   
                   if('{$isOrder}'==''){
                       return
                   }
                   window.opener.isSelectOk(user_id,user_name)//调用父窗口的函数
                   window.close()
               }



 
//重置密码
function chongzhiPwd(user_id){
   	if(confirm("是否确定要将该用户的密码重置为123456？")){
            var url="__CONTROLLER__/chongzhiPwd/user_id/"+user_id;
            window.location.href=url;	   
	}     
}

//删除厂家
function del(xueyuan_id){
   	if(confirm("是否确定要删除该学院？")){
            var url="__CONTROLLER__/delXueyuan/xueyuan_id/"+xueyuan_id;
            window.location.href=url;	   
	}    
}

function details(user_id){

                  window.open('__CONTROLLER__/userdetails/user_id/'+user_id,'newwindow','height=900,width=800,top=190,left=350,toolbar=no,menubar\n\
                                              =no,scrollbars=yes,resizable=no, location=no,status=no') 
    
}

</script>
</body>
</html>